# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment variables
.env
.env.local

# Ignore logs and build files
*.log
build/
dist/

# Ignore OS/editor files
.DS_Store
Thumbs.db
.vscode/
